$y : #FDCC0D;
$B : #141414;
$L_B : #1B1B1B;
.navbar{
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    margin: 10px;
    margin-left: 20px;
   li{
       a{
        text-decoration : none;
        width: 100%; 
        color : white;
         margin : 10px;
         font-size: 16px;
         font-weight: bold; 
         text-decoration:underline $y;
       }
   }
  }
  
  .brand{
    color :$y;
  }
.burger{
    color :white;
    position: absolute;
    top: 20%;
    left : 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
}
.top-bread{
  width:400px;
  height: 90px;
  background-color:$y ;
  
  border-radius: 1000px 1000px 0 0 ;
  -webkit-box-shadow: 32px 54px 39px -10px rgba(0,0,0,0.74);
  -moz-box-shadow: 32px 54px 39px -10px rgba(0,0,0,0.74);
  box-shadow: 32px 54px 39px -10px rgba(0,0,0,0.74);
}
.bottom-bread{
  
  width:400px;
  height: 60px;
  background-color:$y ;
  border-radius:0 0 100px 100px  ;

}
.salad{
  width:400px;
  height: 20px;
  background-color:green;
  margin-top:10px;
  margin-bottom:10px;
border-radius: 10px;

}
.meet{
  width:400px;
  height: 30px;
  background-color:#782b00;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 10px;

}
.cheese{
  width:400px;
  height: 30px;
  background-color:yellow;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 10px;
}
.tomato{
  width:400px;
  height: 20px;
  background-color:red;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 10px;
}
.bacon{
  width:400px;
  height: 40px;
  background-color:pink;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 10px;

}