@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
$y :#FAAF18;
$B : #141414;
$L_B : #1B1B1B;

*{
  padding: 0;
  margin: 0;
   box-sizing: border-box;

}

.App {
  
  background-color:  #1B1B1B;
  background-color: #0f0f0f;
  height: 100%;
width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    margin: 10px;
    margin-left: 20px;
   li{
       a{
        text-decoration : none;
        width: 100%; 
        color : white;
         margin-top : 10px;
         margin : 15px;

         font-size: 100%;
         font-weight: bold; 
         text-decoration: none;
         &:active{
          text-decoration:underline $y;
         }
       }
   }
  }
  
  .brand{
    color :$y;
  }
  .addOrder{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.burger{
    color :white;
    height:fit-content;
    z-index: 5;
    margin-top: 120px;
    margin-bottom: 30px;


 width: 300px;
    
}
.top-bread{
  height:60px;
  border-radius: 900px 900px 10px 10px;
  background-color: #A27732;
  border-top: 9px solid #906725;
 
}

.bottom-bread{
  background-color: #A27732;
  
  height: 30px;
  border-radius:7px 7px 100px 100px  ;
  border-radius: 10px 10px 50px 50px;
  
  border-bottom: 11px solid #724D12;
}
.salad{
  border-radius: 8px;
background-color: #80D041;
height: 8px;
border-bottom: 3px solid #0F6D12;

}

.meat{
  border-radius: 15px;
  background-color: #603102;
  height: 30px;
  border-bottom: 16px solid #402408;

}
.cheese{
  background-color: #E8EA02;
  border-radius: 10px;
  height: 15px;
  border-bottom: 5px solid #EAB902;
}
.tomato{
  border-radius: 14px;
  z-index: 500;
  background-color: #EE1D23;
  height: 20px;
  border-bottom: 5px solid #940C0E;
}
.bacon{
  border-radius: 8px;
  background-color: #B95381;
  height: 13px;
  border-bottom: 4px solid #7E1846;
  z-index: 500;
}
.controlsSection{
  
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
box-sizing: border-box;

}

  
 
.main-hr {
  width: 30%;
  border: none;
  border-top: 1px solid #c3c3c3;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: $y;
  border-radius: 4px;
  color: white;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 100px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: black;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background:black;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.btn {
  margin: 20px;
  width: 200%;
  font-size: 16px;
  border-radius: 50px;

  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  &:active {
      transform: translateY(-3px);

  }

  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 100px;
      transition: all 0.2s;
      
  }

  &-white {
      background-image: linear-gradient(to right, $y,$y);
      text-align: center;
      color: white;
      font-weight: 5000;
  }
}
.header{
  position: absolute;
  
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Josefin Sans', cursive;

  background-image: linear-gradient( white, white);
  color:white;
}
.modalOpen{
  
  background-color: whitesmoke;
  width: 40vw;
  height: 52vh;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  top: 50%;
  border: 5px solid red;
  left: 50%;
  &Header1, &Header2{
   margin: 20px;
  
  }
 
  &Ul{
    display: inline-block;
    color:white;
  }
}



.modal {

  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  overflow: scroll;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,.9); /* Fallback color */
  background-color: rgba(0,0,0,.8); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  
  padding: 40px;
  border: 1px solid #888;
  width:30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
#modalUlId{
  display:flex ;
  justify-content: space-between;
  border-bottom: 1px solid grey;

}
